AddType  "text/html;               charset=utf-8" .cgi
AddType  "text/html;               charset=utf-8" .html
AddType  "text/html;               charset=utf-8" .htm
AddType  "text/xml"                               .wsdl

Options +ExecCGI
AddHandler cgi-script cgi

<Limit GET POST>
</Limit>
order deny,allow
deny from all

allow from all
