/* $Id: sumibi.css,v 1.10 2005/11/26 06:04:26 kiyoka Exp $ */

body {
	background-color: #ffffff;
}
a:link    { color: #44f; }
a:visited { color: #72f; }
a:active  { color: #f33; }


table tr.odd,table tr.dark {
      	background-color: #e0e0d0;
	vertical-align: top;
	border-spacing: 1em;
}

table tr.even {
	background-color: #e8e8d4;
	vertical-align: top;
	border-spacing: 1em;
}

div.mirror {
	background-color: #ddc;
	text-align: right;
	font-size: smaller;
	font-family: helvetica, sans-serif;
}
div.copyright {
	background-color: #ddc;
	text-align: right;
	font-size: smaller;
	font-family: helvetica, sans-serif;
}
div.footer {
	background-color: #ddc;
	text-align: left;
	font-size: smaller;
	font-family: helvetica, sans-serif;
}
div.notice {
	background-color: #d88;
	text-align: center;
	font-family: helvetica, sans-serif;
}
div.rcsid {
	background-color: #ddc;
	text-align: right;
	font-size: smaller;
	font-family: helvetica, sans-serif;
}

span.subtitle {
	color:#6d5550;
}
span.new {
	font-family: helvetica, sans-serif;
	font-weight: bold;
	color: #d33;
}
span.updated {
	font-family: helvetica, sans-serif;
	font-weight: bold;
	color: #3a5;
}

h1 {
	font-family: helvetica, sans-serif;
	font-size: 220%;
	border-style: inset;
	border-color: #000;
	border-top-width:  0;
	border-left-width: 0;
	border-right-width:  0.15em;
	border-bottom-width: 0.15em;
}
span.stitle{
	font-size: 18pt;
}
span.h2small{
	font-family: helvetica, sans-serif;
	font-style: italic;
	font-size: 12pt;
}
h2 {
	background-color: #ddc;
	color: #210;
	border-style: inset;
	border-color: #000;
	border-top-width:    0;
	border-left-width:   0;
	border-right-width:  0.1em;
	border-bottom-width: 0.1em;
}
h3 {
	border-style: inset;
	border-color: #999;
	border-top-width:    0;
	border-left-width:   0;
	border-right-width:  0.1em;
	border-bottom-width: 0.1em;
}
dd {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
}

ol li {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
}
ul li {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
	list-style-image : url( fireball.png );
}
pre {
	background-color: #fff;
	padding: 0.3em;
	border: 1px inset #885;
	white-space: pre; /* Netscape 4.x needs it */
}

code {
	margin-left:	3em;
	margin-right:	3em;
	color: 	black;
	font-style:	normal;
	font-weight:	normal;
	padding: 	10px;
	background-color:#f8f8ff;
	border-color: 	#aaaaaa;
	border-style: 	solid;
	border-width: 1px;
}


span.usage {
        align:  left;
	color: 	#f4360c;
}

div.usage {
	margin-left:	5em;
	margin-right:	5em;
	color: 	black;
	font-style:	normal;
	font-weight:	normal;
	/* padding: 	10px; */
	background-color:#f8f8ff;
	border-color: 	#f4360c;
	border-style: 	solid;
	border-width: 1px;
	font-size: smaller;
}

fieldset {
	margin-left:	7em;
	margin-right:	7em;
	font-size: smaller;
}

legend {
	color: black;
	padding-right: 0.5em;
	padding-left:  0.5em;
	font-size: 90%;
	padding-bottom: 0.5em;
	padding-top: 0.5em
}




/* for SmartDoc docuemnts */
div.author {
	text-align: right;
	font-size: smaller;
}
div.date {
	text-align: right;
	font-size: smaller;
}
div.hp {
	text-align: right;
	font-size: smaller;
}
div.sumibi_menu {
	text-align: left;
	font-size: smaller;
}


/* EOF */
