;; sumiyaki db
(define sumibi-sumiyakidb-host       "myhostname")
(define sumibi-sumiyakidb-name       "sumi_bincho_1")
(define sumibi-sumiyakidb-user       "username")
(define sumibi-sumiyakidb-password   "password")

;; sumibi db
(define sumibi-sumibidb-host         "myhostname")
(define sumibi-sumibidb-name         "sumi_bincho_1")
(define sumibi-sumibidb-user         "username")
(define sumibi-sumibidb-password     "password")

;; debug flag on
(set! sumibi-debug #f)
