th{
	border-style:dotted;
	border-width:1px;
	background-color:#eeeeee;
}

body{
	color:#444422;
}

h1{
	border-style: dotted;
	border-width: 0px 0px 1px 0px;
	width:700px;
}

h1{
	font-size:250%;
}

h1, h2{
	padding: 0px 1px 1px 1px;
	margin:1px;
}

h2{
	border-style: dotted;
	border-width: 0px 0px 1px 0px;
}

div.sidebar{
	position:absolute;
	top:45px;
	left:500px;
	width:200px;
}

#q{
	width:480px;
	height:50px;
}

div.sidebar div{
	width:190px;
	border-style:dotted;
	border-width:1px 1px 1px 1px;
	padding: 0px 5px 2px 5px;
	background-color:#eeeeee;
}

div.help{
	width:480px;
}

div.copy{
	width:700px;
	text-align:center;
}

div.main{
	width:460px;
}

#progress{
           border-style: dotted;
           border-width: 0px 0px 1px 0px;
           width:700px;
}

h3{
	padding: 1px 0px 0px 0px;
	margin: 0px;
}

div.sidebar p{
	padding: 1px 1px 1px 2px;
	margin:0px;
}

li{
   padding: 0px;
   margin: 0px 0px 0px 2px;
}